{% extends 'base.html' %} {% block content %}

<ul class="collapsible popout">
    {% for content in Content %}
    <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
        <strong>{{content.recipe_category}}</strong> - {{content.recipe_name}}
        </div>
        <div class="collapsible-body">
            <span>
            {{content.ingredients}}<br/>
            <br/>
            {{content.steps}}<br/>
            <br/>
            {{content.difficulty}}<br/>
            </span>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
